# These are things for git to ignore!

#######
# ARM #
#######

*.o
*.lst
*.hex
*.elf
*.cproject
*.dep
*.project
path.txt
Thumbs.db
.DS_Store
*.map


###########
# ANDROID #
###########

.metadata/
.classpath
gen/
*.cfg
bin/
*.properties
